[submodule "src/graphics/imgui"]
	path = src/graphics/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/graphics/incbin"]
	path = src/graphics/incbin
	url = https://github.com/graphitemaster/incbin
